:root{
  --col_1_light: #202924;
  --col_2: #6BB392;
  --col_3_medium: #021A0E;
  --col_4: #5ECC66;
  --col_5: #7DD0E6;
  --col_6_dark: #0E1A14;
}
.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(147deg, #5ECC66, #7DD0E6);
}
.contact_info{
    width: 50%;
    height: 100%;
}
.contact form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.n, .e, .p, .m, .btn{
  width: 95%;
  margin-bottom: 45px;
  position: relative;
}
.contact form input{
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  background-color: transparent;
  transform-origin: left;
  color: var(--col_2);
  padding-left: 10px;
  transition: all 0.3s linear;
  border-bottom: 2px solid var(--col_3_medium);
}
.contact form input:focus,
.contact form input:valid
{
  background-color: var(--col_3_medium);
  border-radius: 10px;
  border: none;
  outline: none;
}
.contact form label{
  position: absolute;
  top: 25px;
  left: 10px;
  transition: all 0.5s linear;
}
.contact form input:focus + label, .contact form input:valid + label
{
  top: -50%;
  left: 0px;
}
.btn button{
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: var(--col_3_medium);
  border-radius: 5px;
  color: var(--col_2);
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 18px;
}
.btn button:hover{
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}
.btn button:active{
  transform: scale(0.95);
}
form h1{
  font-size: 2rem;
  color: var(--col_3_medium);
  margin-bottom: 50px;
}
.contact_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info, .call, .mail, .location{
  margin-bottom: 30px;
}
.info{
  color: var(--col_3_medium);
  border-bottom: 2px solid var(--col_3_medium);
}
.call, .mail, .location, .social_container{
  width: 320px;
  height: 100px;
  display: flex;
  align-items: center;
}
.call .icon, .mail .icon, .location .icon{
  width: 40px;
  height: 40px;
  border: 1px solid var(--col_3_medium);
  border-radius: 50%;
  color: var(--col_3_medium);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.call .text, .mail .text, .location .text{
  color: var(--col_3_medium);
}
.call .text p, .mail .text p, .location .text p{
  margin-bottom: 5px;
}
.bold{
  font-weight: 700;
}
@media screen and (max-width:780px){
  .contact{
    height: 180vh;
    flex-direction: column;
  }
  .contact_info{
    width: 100%;
    height: 50%;
  }
  .contact form{
  width: 100%;
  height: 50%;
  }
}
.social_container ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social_container ul li{
  list-style-type: none;
}
.social_container ul li a{
  font-size: 25px;
  color: var(--col_3_medium);
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}
.social_container ul li a:hover{
  color: var(--col_2);
}
.social_container ul li a::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--col_3_medium);
  z-index: -1;
  transform: scale(0);
  transition: all 0.2s linear;
}
.social_container ul li a:hover::before{
  transform: scale(1);
}