:root{
    --col_1_light: #202924;
    --col_2: #6BB392;
    --col_3_medium: #021A0E;
    --col_4: #5ECC66;
    --col_5: #7DD0E6;
    --col_6_dark: #0E1A14;
}
.download{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(147deg, #5ECC66, #7DD0E6);
    margin: 100px 0px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.download_btn{
    margin: 70px 0;
}
.play{
    margin-top: 30px;
}
.download_btn a{
    padding: 30px 80px;
    background-color: var(--col_3_medium);
    border-radius: 50px;
    font-size: 1.5rem;
    color: #ffffff;
    transition: all 0.3s linear;
}
.download_btn a:hover{
    color: var(--col_3_medium);
    background-image: linear-gradient(147deg, #5ECC66, #7DD0E6);
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
}
.download .text{
    padding-bottom: 5px;
    color: var(--col_3_medium);
    font-size: 1.5rem;
    border-bottom: 2px solid var(--col_3_medium);
}
@media screen and (max-width:780px){
    .download_btn a{
        padding: 15px 40px;
        font-size: 1rem;
    }
    .download .text h1{
        font-size: 1.5rem;
    }
    .download_btn{
        margin: 50px 0;
    }
    .play{
        margin-top: 15px;
    }
}