:root{
    --col_1_light: #202924;
    --col_2: #6BB392;
    --col_3_medium: #021A0E;
    --col_4: #5ECC66;
    --col_5: #7DD0E6;
    --col_6_dark: #0E1A14;
}
.events_con{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event_full_con{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.3);
    margin-right: 30px;
}
.event_date_con{
    width: 400px;
    height: 100px;
    background-color: var(--col_2);
    color: #ffffff;
}
.event_date_con .num{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 500;
}
.event_date_con .txt{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
#month{
    margin-right: 10px;
}
.event_description_con{
    width: 340px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    padding: 30px;
}
.event_description_con .title{
    margin-bottom: 20px;
}
@media screen and (max-width: 1320px){
    .events_con{
        flex-direction: column;
    }
    .event_description_con{
        width: 600px;
        height: 300px;
    }
    .event_full_con{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .event_date_con{
        width: 660px;
        height: 100px;
        background-color: var(--col_2);
        color: #ffffff;
    }
}
@media screen and (max-width: 680px){
    .event_description_con{
        padding: 10px;
        width: 300px;
        height: 500px;
    }
    .event_full_con{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .event_date_con{
        width: 320px;
        height: 100px;
        background-color: var(--col_2);
        color: #ffffff;
    }
}