@media screen and (max-width:1480px){
    .menu_container ul li{
        margin-right: 25px;
        font-size: 14px;
    }
    .login_signup a{
        font-size: 16px;
    }
    .login_signup .login,.login_signup .signup{
        width: 90px;
        height: 38px;
        line-height: 38px;
    }
}
@media screen and (max-width:1180px){
    .menu_container ul li{
        margin-right: 20px;
        font-size: 12px;
    }
    .login_signup a{
        font-size: 14px;
    }
    .login_signup .login,.login_signup .signup{
        width: 90px;
        height: 36px;
        line-height: 36px;
    }
}
@media screen and (max-width:980px){
    .menu_container{
        display: none;
    }
    .logo_container_desktop{
        width: 220px;
        height: 70px;
    }
    .logo_container_desktop img{
        width: 170px;
        height: 55px;
    }
    .login_signup{
        margin-left: auto;
    }
    .menu_container_mobile{
        display: block;
        margin: 0px 30px;
    }
    .menu_container_mobile .hamburger{
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background: linear-gradient(145deg, #86dff6, #71bbcf);
        box-shadow:  10px 10px 20px #6ab1c4, 
                    -10px -10px 20px #90efff;
        border-radius: 50%;
        color: #ffffff;
        font-size: 25px;
    }
    .menu_container_mobile .hamburger .fa-times{
        display: none;
        line-height: 50px;
    }
    .menu_bar{
        position: absolute;
        top: 150px;
        right: 0;
        width: 50vw;
        height: 0;
        display: flex;
        justify-content: center;
        background-color: var(--col_2);
        transition: all 0.2s linear;
        visibility: hidden;
        z-index: 100;
    }
    .menu_bar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .menu_bar ul li{
        width: 100%;
        height: 12.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #ffffff;
    }
    .menu_bar ul li a{
        color: var(--col_6_dark);
        position: relative;
        z-index: 1;
    }
    .menu_bar ul li a:hover{
        color: #ffffff;
    }
    .menu_bar ul li a::before{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient(145deg, #72c09c, #60a183);
        box-shadow:  7px 7px 14px #5b987c, 
                 -7px -7px 14px #7bcea8;
        text-align: center;
        border-radius: 50px;
        transform-origin: right;
        transition: all 0.2s linear;
        z-index: -1;
        transform: scale(0);
    }
    .menu_bar ul li a:hover::before{
        transform: scale(1);
    }
    .menu_bar ul li a::after{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient(145deg, #72c09c, #60a183);
        box-shadow:  7px 7px 14px #5b987c, 
                 -7px -7px 14px #7bcea8;
        text-align: center;
        border-radius: 50px;
        transform-origin: left;
        transition: all 0.2s linear;
        z-index: -1;
        transform: scale(0);
    }
    .menu_bar ul li a:hover::after{
        transform: scale(1);
    }
    .res{
        display: none;
        background-color: #202924;
        opacity: 0.3;
        z-index: 100;
        position: absolute;
        top: 150px;
        left: 0;
        width: 50vw;
        height: calc(100vh - 150px);
    }
    .displayNone{
        display: none !important;
    }
    .displayBlock{
        display: block !important;
    }
    .addHeight{
        visibility: visible;
        height: calc(100vh - 150px);
    }
}
@media screen and (max-width:680px){
    .logo_container_desktop{
        width: 176px;
        height: 56px;
    }
    .logo_container_desktop img{
        width: 136px;
        height: 44px;
    }
}
@media screen and (max-width:580px){
    .main_menu_container_desktop{
        position: relative;
    }
    .logo_container_desktop{
        position: absolute;
        top: 21px;
        left: 20px;
        margin-left: 10px;
        width: 132px;
        height: 42px;
    }
    .logo_container_desktop img{
        width: 102px;
        height: 33px;
    }
    .login_signup{
        position: absolute;
        top: 81px;
        left: 20px;
        margin-left: 10px;
    }
    .menu_container_mobile{
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0;
    }
    .menu_container_mobile .hamburger{
        position: absolute;
        top: 75px;
        right: 30px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .menu_container_mobile .hamburger .fa-times{
        display: none;
        line-height: 40px;
    }
}