@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --col_1_light: #202924;
    --col_2: #6BB392;
    --col_3_medium: #021A0E;
    --col_4: #5ECC66;
    --col_5: #7DD0E6;
    --col_6_dark: #0E1A14;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    transition: all 1s linear;
}
.main_menu_container_desktop{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: var(--col_5);
    align-items: center;
    z-index: 100;
}
.logo_container_desktop{
    width: 15%;
    height: 50%;
    background: linear-gradient(145deg, #86dff6, #71bbcf);
    box-shadow:  10px 10px 20px #6ab1c4, 
             -10px -10px 20px #90efff;
    margin-left: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1650px){
    .logo_container_desktop img{
        width: 155px;
        height: 50px;
    }
}
@media screen and (max-width:1450px){
    .logo_container_desktop img{
        width: 125px;
        height: 40px;
    }
}
@media screen and (max-width:1150px){
    .logo_container_desktop img{
        width: 100px;
        height: 32px;
    }
}
.menu_container{
    margin-left: auto;
}
.menu_container ul{
    display: flex;
}
.menu_container ul li{
    margin-right: 30px;
    font-size: 18px;
}
.menu_container ul li a{
    color: var(--col_6_dark);
    font-weight: 600;
    position: relative;
    z-index: 1;
    transition: all 0.2s linear;
}
.menu_container ul li a:hover{
    color: #ffffff;
}
.menu_container ul li a::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150%;
    height: 200%;
    background: linear-gradient(145deg, #86dff6, #71bbcf);
    box-shadow:  7px 7px 14px #6ab1c4, 
             -7px -7px 14px #90efff;
    text-align: center;
    border-radius: 50px;
    transform-origin: right;
    transition: all 0.2s linear;
    z-index: -1;
    transform: scale(0);
}
.menu_container ul li a:hover::before{
    transform: scale(1);
}
.menu_container ul li a::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150%;
    height: 200%;
    background: linear-gradient(145deg, #86dff6, #71bbcf);
    box-shadow:  7px 7px 14px #6ab1c4, 
             -7px -7px 14px #90efff;
    text-align: center;
    border-radius: 50px;
    transform-origin: left;
    transition: all 0.2s linear;
    z-index: -1;
    transform: scale(0);
}
.menu_container ul li a:hover::after{
    transform: scale(1);
}
.login_signup{
    margin-right: 30px;
    display: flex;
}
.login_signup .login{
    margin-right: 15px;
}
.login_signup a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}
.login_signup .login,.login_signup .signup{
    width: 100px;
    height: 50px;
    background: linear-gradient(145deg, #86dff6, #71bbcf);
    box-shadow:  7px 7px 14px #6ab1c4, 
             -7px -7px 14px #90efff;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
}
.menu_container_mobile{
    display: none;
}
/* Slider */
.slider_container{
    left: 0;
    width: 100%;
    height: calc(100vh - 150px);
}
#slider{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.news_container, .statement_container, .event_container, .survey_container, .tutorial_container, .download_container, .team_container, .contact_container{
    margin-top: 50px;
    width: 100%;
}
.header_container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px -5px 70px -20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -5px 70px -20px rgba(0,0,0,0.5);
    box-shadow: 0px -5px 70px -20px rgba(0,0,0,0.5);
    background-color: #f2fff6;
}
.header_container h1{
    color: var(--col_3_medium);
    position: relative;
    text-align: center;
    width: 194px;
}
.header_container h1::before{
    content: '';
    width: 200px;
    height: 2px;
    background-color: var(--col_3_medium);
    position: absolute;
    top: calc(50% - 1px);
    left: -165%;
}
.header_container h1::after{
    content: '';
    width: 200px;
    height: 2px;
    background-color: var(--col_3_medium);
    position: absolute;
    top: calc(50% - 1px);
    right: -165%;
}
@media screen and (max-width:880px){
    .header_container h1{
        font-size: 1.5rem;
        width: 145px;
    }
    .header_container h1::before{
        width: 120px;
        left: -135%;
    }
    .header_container h1::after{
        width: 120px;
        right: -135%;
    }
}
@media screen and (max-width:580px){
    .header_container h1{
        font-size: 1rem;
        width: 98px;
    }
    .header_container h1::before{
        width: 80px;
        left: -110%;
    }
    .header_container h1::after{
        width: 80px;
        right: -110%;
    }
}
.statement_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.state_con{
    position: relative;
    width: 1080px;
    height: 200vh;
    margin-top: 50px;
}
.statement_container .state_bg{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--col_1_light);
    -webkit-box-shadow: 0px 0px 65px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 65px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 65px 10px rgba(0,0,0,0.5);
}
.statement_container .state_bg .statement{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: #c7edd6;
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
}
.statement_container .state_bg .statement .text_head{
    color: var(--col_3_medium);
    margin-bottom: 5px;
}
.statement_container .state_bg .statement .text{
    width: 365px;
    height: 145px;
    color: var(--col_3_medium);
    padding: 20px;
    border-radius: 10px;
}
.statement_container .about{
    position: absolute;
    top: 0;
    width: 1120px;
}
.statement_container .state_bg .ab_st{
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0;
}
.statement_container .vision{
    position: absolute;
    top: 25%;
    right: 0;
}
.statement_container .values{
    position: absolute;
    top: 25%;
    left: 0;
}
.statement_container .mission{
    position: absolute;
    top: 50%;
    right: 0;
}
.statement_container .objectives{
    position: absolute;
    top: 50%;
    left: 0;
}
.statement_container .goals{
    position: absolute;
    top: 75%;
    right: 0;
}
.statement_container .motto{
    position: absolute;
    top: 75%;
    left: 0;
}
#events{
    width: 100%;
    height: 100vh;
}
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: var(--col_1_light);
    color: var(--col_2);
}